@model DreamLeague.Models.Cup

@{
    ViewBag.Title = "Delete Cup";
}

<h2>Delete Cup</h2>

<h3>Are you sure you want to delete this cup?</h3>
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasGroupStage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasGroupStage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KnockoutLegs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KnockoutLegs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalLegs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalLegs)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("All cups", "Index")
        </div>
    }
</div>
