@model DreamLeague.ViewModels.ManagerTeamSheet

@{
    ViewBag.Title = "Team Sheet";
}

@using DreamLeague.Inputs;

<h2>Update Teams</h2>

@using (Html.BeginForm("Upload", "TeamSheet", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-lg-6 col-sm-6 col-12">
                <h4>Upload Teamsheet</h4>
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            Browse&hellip; <input type="file" name="file" style="display: none;">
                        </span>
                    </label>
                    <input type="text" class="form-control" readonly>
                    <input type="submit" value="Upload" class="btn btn-default" />                                        
                </div>
                @if (ViewBag.LastUpload != null)
                {
                    <p class="text-muted">Last upload @(ViewBag.LastUpload).</p>
                }
            </div>
        </div>
    </div>
}

@{ int cnt = 0;}

<div class="row">
    @foreach (var managerTeam in Model.ManagerTeams)
            {

        if(cnt++ % 2 == 0)
        {
            @:</div><div class="row">
        }
        <div class="col-lg-6">
            <div class="well">
                <div class="form-horizontal">

                    <fieldset>
                        <Legend>@Html.DisplayFor(modelItem => managerTeam.ManagerName)</Legend>
                        @Html.HiddenFor(modelItem => managerTeam.ManagerId, new { @class = "managerTeamId" })

                        <div class="row">
                            <div class="col-md-8">
                                <h5>GoalKeepers</h5>
                            </div>
                            <div class="col-md-4">
                                <h5>Team Sheet</h5>
                            </div>
                        </div>

                        @foreach (var teamGoalKeeperGroup in managerTeam.TeamGoalKeeperGroups)
                        {
                            <div class="form-group">
                                <div class="col-md-7">
                                    @Html.TextBoxFor(modelItem => teamGoalKeeperGroup.TeamGoalKeeperA.Name, new { @class = "form-control input-sm teamsheet-goalkeeper-label", @onClick = "this.select()" })
                                    @Html.HiddenFor(modelItem => teamGoalKeeperGroup.TeamGoalKeeperA.TeamId, new { @class = "form-control input-sm teamsheet-goalkeeper-id", data_managerId = managerTeam.ManagerId })
                                </div>
                                <div class="col-md-1">
                                    @Html.CheckBoxFor(modelItem => teamGoalKeeperGroup.TeamGoalKeeperA.Substitute, new { @class = "teamsheet-goalkeeper-substitute", @data_teamId = teamGoalKeeperGroup.TeamGoalKeeperA.TeamId })
                                </div>

                                @if (teamGoalKeeperGroup.TeamGoalKeeperB != null)
                                {
                                    <div class="col-md-3">
                                        <span class="input-sm">
                                            @Html.DisplayFor(modelItem => teamGoalKeeperGroup.TeamGoalKeeperB.Name)

                                            @if (teamGoalKeeperGroup.TeamGoalKeeperB.Substitute)
                                            {
                                                @: (sub)
                                            }
                                        </span>
                                    </div>
                                }
                            </div>
                        }

                        <div class="row">
                            <div class="col-md-8">
                                <h5>Players</h5>
                            </div>
                        </div>

                        @foreach (var teamPlayerGroup in managerTeam.TeamPlayerGroups)
                        {
                            <div class="form-group">
                                <div class="col-md-7">
                                    @Html.TextBoxFor(modelItem => teamPlayerGroup.TeamPlayerA.Name, new { @class = "form-control input-sm teamsheet-player-label", @onClick = "this.select()" })
                                    @Html.HiddenFor(modelItem => teamPlayerGroup.TeamPlayerA.PlayerId, new { @class = "form-control input-sm teamsheet-player-id", data_managerId = managerTeam.ManagerId })
                                </div>
                                <div class="col-md-1">
                                    @Html.CheckBoxFor(modelItem => teamPlayerGroup.TeamPlayerA.Substitute, new { @class = "teamsheet-player-substitute", @data_playerId = teamPlayerGroup.TeamPlayerA.PlayerId })
                                </div>

                                @if (teamPlayerGroup.TeamPlayerB != null)
                                {
                                    <div class="col-md-4">
                                        <span class="input-sm">
                                            @Html.DisplayFor(modelItem => teamPlayerGroup.TeamPlayerB.Name)

                                            @if (teamPlayerGroup.TeamPlayerB.Substitute)
                                            {
                                                @: (sub)
                                        }
                                        </span>
                                    </div>
                                }
                            </div>
                        }

                    </fieldset>
                </div>
            </div>
        </div>
    }
</div>

<div class="row" id="save-confirmation" style="display:none">
    <div class="alert alert-dismissible alert-info col-md-2" style="position: fixed; bottom: 10px; left: 10px;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Changes saved.
    </div>
</div>

<script src="~/Scripts/teamsheet.js"></script>
