@model PagedList.IPagedList<DreamLeague.Models.Goal>
@using PagedList.Mvc
@{
    ViewBag.Title = "Goals";
}

<h2>Goals</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (Model.Count > 0)
{
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].GameWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Manager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Player.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Player)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Cup)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameWeek.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Player.Team.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Player.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cup)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.GoalId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.GoalId })
                </td>
            </tr>
        }

    </table>

    @:Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
}
else
{
    <div class="alert alert-info">
        New season coming soon...
    </div>
}